[submodule ".registry"]
	path = .registry
	url = https://github.com/bioszen/bioszen.r-universe.dev
	branch = HEAD
[submodule "BIOSZEN"]
	path = BIOSZEN
	url = https://github.com/bioszen/BIOSZEN
	branch = v2.1.0
